```{=html}
<div class="pub-list list">
  <% for( const [year, itemsPerYear] of Object.entries( items.sort( (a,b) =>
  a.year - b.year ).reduce( (acc, e) => {acc[e.year] =
  (acc[e.year]??[]).concat(e); return acc} , {} )).sort( (a,b)=>(b[0]-a[0])) ) {
  %>
  <h2><%= year %></h2>
  <% for (const item of itemsPerYear) { %>
  <div class="quarto-post" <%=metadataAttrs(item) %>
    >
    <div class="body">
      <h3 class="no-anchor listing-title lead">
        <a href="<%- item.path %>" class="no-external"> <%= item.title %> </a>
      </h3>
      <div class="listing-author"><%= item.authors_s %></div>
      <div class="listing-publication fst-italic"><%= item.publication %></div>
    </div>
    <div class="metadata">
      <div class="listing-date"><%= item.date %></div>
      <div>
        <a href="<%- item.path %>" class="btn btn-sm btn-primary">
          <i class="bi bi-journal-richtext"></i>
          Details
        </a>
        <% if (item.doi) { %>
        <a
          href="<%- item.doi %>"
          class="btn btn-sm btn-dark"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="ai ai-doi"></i>
          DOI
        </a>
        <% } %> <% if (item.hal) { %>
        <a
          href="<%- item.hal %>"
          class="btn btn-sm btn-dark hal"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="ai ai-hal"></i>
          <%- item.halid %>
        </a>
        <% } %> <% if (item.pdf) { %>
        <a
          href="<%- item.pdf %>"
          class="btn btn-sm btn-info"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="bi bi-file-earmark-pdf"></i> file
        </a>
        <% } %> <% if (item.categories && item.categories.length > 0) { %>
        <div class="listing-categories">
          <% for (const category of item.categories ) { %>
          <span class="listing-category"><%= category %></span>
          <% } %>
        </div>
        <% } %> <% if (item.description && !item.haiku ) { %>
        <div class="listing-description"><%= item.description %></div>
        <% } %> <% if (item.haiku) { %>
        <div class="listing-haiku">
          <span>h<span class="bold">AI</span>ku</span>: <%= item.haiku %>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <% } %> <% } %>
</div>
```
